footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin: 0 auto !important;
}
