.shoes-list {
  padding: 15px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  margin-bottom: 50px;
  margin: 0;
}

.shoes-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--mainBlue);
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.238);
}

.shoes-list .shoes-actions {
  padding-block: 0.5rem;
  border-top: 1px solid gray;
  text-align: center;
}

.shoes-list .shoes-actions .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.shoe-sale {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: var(--mainRed);
  color: var(--mainWhite);
  padding: 1rem 1rem;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 50%);
  width: 100px;
  text-align: right;
  font-weight: 600;
  letter-spacing: 2px;

  font-size: 1.1rem;
  text-transform: uppercase;
}

.add-new-shoes-btn {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
  width: fit-content;
  height: 2.2rem;
  background-color: var(--mainRed);
  color: var(--mainWhite);
  font-size: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(164, 8, 8, 0.781);
  border: NONE;
}

@media screen and (max-width: 900px) {
  .shoes-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
